.requirements {
  padding: 160px 0px 0px;
  background: #daf8ff;

  @media (max-width: 1024px) {
    padding: 120px 0px 0px;
  }

  @media (max-width: 768px) {
    padding: 80px 0px 0px;
  }

  @media (max-width: 475px) {
    padding: 50px 0px 0px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 80px;

    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
      text-align: center;
    }

    @media (max-width: 475px) {
      margin-bottom: 15px;
    }

    span {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: -18px;
        left: -20px;
        background-image: url("../img/ellipse-lg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 110px;

        @media (max-width: 1024px) {
          top: -8px;
          left: -10px;
          width: 260px;
          height: 80px;
        }

        @media (max-width: 768px) {
          width: 220px;
          height: 70px;
        }

        @media (max-width: 475px) {
          width: 175px;
          height: 55px;
        }

        @media (max-width: 360px) {
          width: 145px;
          height: 45px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: 250px;

    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }

    @media (max-width: 940px) {
      margin-left: 150px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
      align-items: center;
      margin-left: 0;
    }

    @media (max-width: 475px) {
      margin-bottom: 15px;
    }

    @media (max-width: 425px) {
      align-items: flex-start;
    }

    &-title {
      margin-bottom: 40px;
      margin-left: 50px;
      max-width: 600px;

      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }

      @media (max-width: 768px) {
        margin-left: 0;
        text-align: center;
      }

      span {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 10px;
          background-image: url("../img/underline.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    align-items: center;

    @media (max-width: 1024px) {
      gap: 30px 40px;
    }

    @media (max-width: 768px) {
      align-items: flex-start;

      &--sm {
        align-items: center;
      }
    }

    @media (max-width: 675px) {
      gap: 30px 20px;
    }

    @media (max-width: 575px) {
      gap: 20px;
    }

    @media (max-width: 475px) {
      grid-template-columns: 1fr;
      gap: 10px;

      &--sm {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
    }

    @media (max-width: 425px) {
      &--sm {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      align-items: flex-start;

      &--sm {
        align-items: center;
      }
    }

    @media (max-width: 475px) {
      align-items: center;
    }

    img {
      margin-right: 20px;

      @media (max-width: 575px) {
        margin-right: 10px;
      }
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: rgba(1, 51, 45, 0.8);
      max-width: 390px;

      @media (max-width: 900px) {
        font-size: 16px;
      }

      @media (max-width: 675px) {
        font-size: 15px;
      }

      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
}